
@{
    ViewData["Title"] = "Lejemaal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="card-body bg-dark-purple rounded">
            <h1>Rediger lejemål</h1>

            <section>
                <form method="post">

                    <table>
                        <tr>
                            <td>
                                <label for="firstname">Adresse</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>

                            <td>
                                <label for="firstname">Område</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="firstname">Antal værelser</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>

                            <td>
                                <label for="firstname">Størrelse</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="firstname">Type</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>

                            <td>
                                <label for="firstname">Energimærke</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="firstname">Husleje</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>

                            <td>
                                <label for="firstname">Aconto</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="firstname">Depositum</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>

                            <td>
                                <label for="firstname">Selskab</label><br />
                                <input class="text-muted mr-2" type="text" id="firstname" name="firstname" placeholder="" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" id="villa" name="villa" />
                                <label for=" villa">Husdyr tilladt</label>
                                <br />
                                <input type="checkbox" id="villa" name="villa" />
                                <label for=" villa">Rygning tilladt</label>
                                <br />
                            </td>

                        </tr>

                    </table>



                    <button class="btn btn-primary align-content-end" type="button" form="form1" value="Submit">Gem</button>


                </form>


            </section>



        </div>



    </div>
</div>
