<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UnikFrontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow bg-dark-purple mb-4">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">UnikFrontend</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-end">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 justify-content-end ">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Bolig" asp-action="FindBolig">Søg Bolig</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Apply" asp-action="ApplyLejemaal">Ansøg Bolig</a>
                        </li>
                    </ul>
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lejemål
                        </a>

                        <div class="dropdown-menu bg-dark-purple" aria-labelledby="dropdownMenuLink">
                            <a class="nav-link text-light" asp-area="" asp-controller="Lejemaal" asp-action="Lejemaal">Opret lejemål</a>
                            <a class="nav-link text-light" asp-area="" asp-controller="Lejemaal" asp-action="UpdateLejemaal">Rediger lejemål</a>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid mx-0 p-0">
            @RenderBody()
        </div>

    </main>





    <footer id="footer" class="mt-2 pt-3">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 ">
                    <h5>Kontakt</h5>
                    <address>Adresse: Boulevarden 19E</address>
                    <p>Email: email@mail.com</p>
                </div>


                <div class=" col-lg-6 ">
                    <h5>Find Lejebolig</h5>

                    <p>
                        Hos Unik udvikler vi software til mennesker, der arbejder inden for bolig- og ejendomsadministration samt advokatkontorer.
                    </p>

                    </p>
                </div>

            </div>
            <p class="m-0 text-center">Copyright &copy; Gruppe-1 2020</p>
        </div>

    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
