@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron jumbotron-fluid bg-img-index">
    <div class="container">
        <h3 class="display-4">Find din næste bolig her</h3>
        <p class="lead">Over 100.000 boliger samlet et sted</p>
        <button type="button" class="btn btn-primary">Find bolig</button>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-lg-4 mb-5">
            <div class="card bg-dark-purple rounded">
                <div class="card-body text-center align-items-center">
                    <h3>Vejle</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Klik her</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card bg-dark-purple rounded">
                <div class="card-body text-center align-items-center">
                    <h3>Roundet - more</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Klik her</a>

                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-5">
            <div class="card bg-dark-purple rounded">
                <div class="card-body text-center align-items-center">
                    <h3>Vejle</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Klik her</a>

                </div>
            </div>
        </div>
    </div>



</div>

